<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Hello, world!</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
  {% include 'content.html' %}
</body>
</html>